@charset "UTF-8";

.content {
	width: 75%; 
	height: 600px;
	margin: 30px auto;
}

.tbPassword {
	width: 520px;
	margin: 80px auto 30px auto;
}

.inputpwd {
	font-size: 17px;
	line-height: 46px;
	background-color: white;
	border: 2px solid rgb(242, 242, 242);
	width: 361px;
	padding: 0px 15px;
}

td {
	font-size: 17px;
}

.btnUpdate {
	border: 2px solid rgb(182, 226, 248);
	background-color: white;
	height: 50px;
	cursor: pointer;
	outline: 0;
	font-size: 16px;
	margin: 0px 20px;
	width: 116px;
}

.btnUpdate:hover {
	background-color: rgb(182, 226, 248);
	color: white;
}

.divbtn {
	width: 500px;
	margin: auto;
	text-align: center;
}