@charset "UTF-8";

body {
    margin: 0;
    padding: 0;
}

.divWrap {
    margin: 10% auto;
    width: 500px;
    height: 800px;
}

.divTop {
    height: 90px;
    line-height: 90px;
    background-color: rgb(182, 226, 248);
}

.lbTitle {
    margin-left: 30px;
    height: 50px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 25pt;
}

.btnClose {
    margin-top: 20px;
    margin-right: 20px;
    padding: 0;
    float: right;
    width: 55px;
    height: 55px;
}

button {
    border: 0;
    outline: 0;
    background-color: transparent;
}

button:hover {
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0px 0px 20px lightskyblue;
}

.divMid {
    margin: 0 auto;
    padding: 0;
    border-bottom: 1px solid lightgray;
    width: 500px;
    height: 110px;
}

table {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0;
    height: 100px;
}

.profile {
    margin: 0 auto;
    width: 100px
}

.profile > img {
    margin: 0 15px;
}

.nickName {
    padding-left: 10px;
    width: 345px;
    font-size: 16pt;
    text-align: left;
}

.dialog {
    padding-left: 10px;
    width: 400px;
    font-size: 14pt;
    text-align: left;
}

.date {
    padding-left: 10px;
    width: 400px;
    font-size: 13pt;
    text-align: left;
    color: gray;
}