@charset "UTF-8";

/*  faq view */
.fvTitle {
	position: relative;
	width: 80%;
	height: 40px;
	margin: 10px auto;
	border: 3px solid #b6e2f8;
	border-radius: 10px;
}

.fvTitle>.faqTitle {
	position: absolute;
	width: 100%;
	height: 20px;
	font-size: 18px;
	top: 50%;
	margin-top: -10px;
	margin-left: 20px;
}

.fvContent {
	position: relative;
	width: 80%;
	height: 250px;
	margin: 10px auto;
	border: 3px solid #b6e2f8;
	border-radius: 10px;
}

.fvContent>div {
	position: absolute;
	width: 93%;
	height: 80%;
	/*top: 50%;*/
	margin: 3% 3.5%;
	/*margin-top: -15px;*/
	overflow-y: auto;
}
/*  faq view */

/* btns _ start */
.botBtns>div {
	width: 140px;
	height: 60px;
	margin: 60px auto;
}

.botBtns>div>button {
	height: 50px;
	padding: 0 30px;
	font-size: 17px;
	border: 2px solid #b6e2f8;
	outline: 0;
	border-radius: 10px;
	margin: 2px;
}

.botBtns>div>button:hover {
	cursor: pointer;
	background-color: #e9f8ff;
}
/* btns _ end */