@charset "UTF-8";

.filterWrap {
    width: 800px;
    height: 650px;
    display: none;
    z-index: 0;
}

.filterMenuWrap {
    position: relative;
    float: left;
    display: inline-block;
    text-align: center;
    margin: 0px 10px 0px 0px;
}

.filterMenu {
    margin: 0 auto;
    width: 350px;
    height: 350px;
    border-collapse: collapse;
    background: #B6E2F8;
}

.filterMenu td {
    border: 2px solid #4B88CC;
    font-family: 'Nanum Gothic', sans-serif;
}

.filterMenu td:first-child {
    font-weight: bold;
}

.filterMenu td:nth-child(2) {
    background: white;
}

.tbAddress {
    width: 170px;
    height: 35px;
    border: 0;
}

.buildingType {
    height: 30px;
    outline: 0;
    border: 0;
    border-radius: 5px;
    font-size: 12px;
    font-family: 'Nanum Gothic', sans-serif;
}

.optionButton {
    float: left;
    width: 50%;
    height: 100%;
    border: 0;
    background-color: #B6E2F8;
    outline: 0;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Nanum Gothic', sans-serif;
}

.optionButton:first-child {
    border-right: 2px solid #4B88CC;
}

#btnMyFilter {
    width: 20px;
    height: 50px;
    outline: 0;
    font-size: 20px;
    background-color: white;
    border: 0;
}

#btnAddressSearch {
    width: 35px;
    height: 35px;
    outlint: 0;
    background-image: url("../img/etc/search.png");
    background-repeat: no-repeat;
    background-size: cover;
    border: 0;
}

.myFilterWrap {
    position: relative;
    display: none;
    width: 330px;
    height: 200px;
    float: left;
}

.divFilterSettingSave {
    width: 99.5%;
    height: 50px;
}

#btnFilterSettingSave {
    width: 99%;
    height: 100%;
    outline: 0;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 15px;
    background-color: #B6E2F8;
    border: 1px solid #4B88CC;
}

.divFilterSettingLoad {
    margin: 0 auto;
    width: 100%;
    height: 156px;
}

.divFilterSettingLoadBtn {
    float: left;
    display: inline-block;
    width: 20%;
    height: 100%;
}

#btnFilterSettingLoad {
    width: 100%;
    height: 94%;
    outline: 0;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 11px;
    background-color: #B6E2F8;
    border-up: 0;
    border-bottom: 1px solid #4B88CC;
    border-left: 1px solid #4B88CC;
    border-right: 0;
}

.divMyFilterList {
    display: inline-block;
    width: 78%;
}

.divMyFilter {
    width: 100%;
    height: 48px;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 20px;
    background-color: #FFFFFF;
    border-up: 0;
    border-bottom: 1px solid #4B88CC;
    border-left: 1px solid #4B88CC;
    border-right: 1px solid #4B88CC;
}

.trashButton {
    float: right;
    width: 35px;
    height: 35px;
    outlint: 0;
    margin-top: 5px;
    background-image: url("../img/etc/trash.png");
    background-repeat: no-repeat;
    background-size: contain;
    border: 0;
}

.myFilterRadio {
    margin: 20px 0px 0px 10px;
}

.wrapOption {
    display: none;
    float: left;
}

.filterOption {
    margin: 10px 0px 0px 0px;
    width: 380px;
    height: 385px;
    border-collapse: collapse;
    background-color: #B6E2F8;
}

.filterOption td {
    width: 50%;
    border: 2px solid #4B88CC;
    font-family: 'Nanum Gothic', sans-serif;
    background-color: white;
}

.optionCheckbox {
    margin: 0px 10px 0px 10px;
}

.btnOption {
    width: 100%;
    height: 100%;
    outline: 0;
    border: 0;
    background-color: #B6E2F8;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 20px;
}