@charset "UTF-8";

.menuPopup {
    position: absolute;
    top: 75px;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 10010;
}

.joinPopup {
    width: 700px;
    padding: 0;
    margin: 0 auto;
    border: 1px solid black;
    background-color: #f4f4ff;
}

.joinPopup > .divClose {
    width: 100%;
    height: 50px;
    text-align: right;
}

.joinPopup > .divClose > button {
    background-color: transparent;
    border: 0;
    outline: 0;
    margin: 15px;
    font-size: 25px;
}

.joinPopup > .logo {
    width: 100%;
    height: 70px;
    text-align: center;
}

.joinPopup > h1 {
    margin: 10px 0;
}

.joinPopup .btns {
    marign: 30px 0px;
    text-align: center;
}

.joinPopup .btn {
    margin: 10px 0px 10px 20px;
    text-align: center;
    background-color: #b6e2f8;
    font-size: 17px;
    border: 2px solid #b6e2f8;
    outline: 0;
    border-radius: 10px;
    padding: 10px 40px;
}

.joinPopup .btn:hover {
    cursor: pointer;
    background-color: #e9f8ff;
}

.joinPopup .btns > .btn {
    margin: 30px 20px;
    padding: 10px 50px;
}

.joinPopup .tbInfo {
    width: 550px;
    margin: auto;
}

.joinPopup .inputbox {
    font-size: 17px;
    line-height: 46px;
    background-color: white;
    width: 421px;
}

.joinPopup .inputboxS {
    font-size: 17px;
    line-height: 46px;
    background-color: white;
    width: 240px;
}

.joinPopup .at {
    font-size: 25px;
}

.joinPopup .domain {
    font-size: 16px;
    width: 150px;
    height: 50px;
}

.joinPopup .tdomain {
    font-size: 16px;
    width: 130px;
    height: 40px;
    padding: 5px 10px;
}

.joinPopup .tbInfo td {
    width: 80px;
    font-size: 17px;
}

.joinPopup .tbInfo td > input {
    padding: 0px 15px;
}


.joinPopup .frontNum {
    font-size: 17px;
    height: 50px;
    width: 80px;
}

.joinPopup .inputNum {
    font-size: 17px;
    width: 137px;
    height: 46px;
    margin: 0;
}