@charset "UTF-8";

.wrap{
   width: 1070px;
   margin: auto;
}
.tbList{
   border: 2px solid rgb(232,232,232);
   border-collapse: collapse;
   width: 900px;
   margin: 30px auto;
}
.tbList td{
   border: 2px solid rgb(232,232,232);
   text-align: center;
   height: 50px;
}
.tdbtns button{
   border: 2px solid rgb(182,226,248);
   background-color: white;
   width: calc(25% - 5px);
   height: 50px;
   font-size: 16px;
}
.tdbtns{
   padding: 0;
}
.tbList > tbody > tr > td:last-child {
   text-align: left;
}
.tdbtns .button:hover{
   background-color: rgb(182,226,248);
   color: white;
   cursor: pointer;
}
.tdroomImg{
   width: 350px;
}
.val{
   padding: 0px 15px;
}
.tdroomState{
   width: 81px;
}

.tableTitle {
   background-color: rgb(225,244,255);
}
.noContent {
   height: 670px;
   line-height: 600px;
   font-size: 16pt;
   font-weight: 600;
   text-align: center;
   color: #5CC3F6;
}