@charset "UTF-8";

.content {
    width: 75%;
    height: 600px;
    margin: 30px auto;
}

.content > div:first-child > div {
    width: 50%;
    font-size: 14px;
    margin: 20px 0;
}

.divItem {
    float: left;
    width: 33%;
    margin: 20px auto;
}

.divNotify {
    float: left;
}

.contractCnt {
    color: rgb(182, 226, 248);
}

.tbContract {
    width: 800px;
    margin: auto;
    border-top: 2px solid rgb(182, 226, 248);
    border-bottom: 2px solid rgb(182, 226, 248);
}

.btnDetail {
    width: 116px;
}

.tdDetail {
    width: 116px;
}

.recentCnt {
    font-weight: bold;
    color: rgb(146, 189, 223);
}

.btnDetail {
    border: 2px solid rgb(182, 226, 248);
    background-color: rgb(182, 226, 248);
    color: black;
    height: 50px;
    cursor: pointer;
    outline: 0;
    font-size: 16px;
    width: 116px;
}

.btnDetail:hover {
    background-color: rgb(182, 226, 248);
    color: white;
}

.tdPeriod {
    color: rgb(136, 136, 136);
}

.tdAddr {
    font-weight: bold;
}

.tdPeriod {
    font-size: 14px;
}

.contractPopup {
    position: absolute;
    top: 75px;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 12000;
}

.contractImg {
    margin-top: 10px;
    margin: 0 auto;
    margin-bottom: 10%;
    width: 50%;
    height: 80%;
    position: relative;
    z-index: 12000;
}