@charset "UTF-8";

.content {
	width: 75%; 
	margin: 30px auto;
}
.content > div:first-child > div {
	width: 50%;
	font-size: 14px;
	margin: 20px 0;
}

.divList {
	position: relative;
    display: block;
    float: left;
}

.divItem {
	float: left;
    width: 250px;
    margin: 8px;
}

.divRecent {
	float: left;
}

.divNotify {
	text-align: right;
	color: rgb(136, 136, 136);
	float: right;
}

.divTitle {
	font-size: 17px;
	font-weight: bold;
}

.divLocation {
	margin-top: 8px;
}

.divFloat {
	font-size: 15px;
	font-weight: 500;
}

.divSummary {
	width: 250px;
	margin: 0;
	font-size: 12px;
}

.recentCnt, .likeCnt {
	font-weight: bold;
	color: rgb(146, 189, 223);
}

.imgHeart {
	position: absolute;
	display: block;
    margin: 26px 0 0 220px;
    vertical-align: middle;
    cursor: pointer;
}
