@charset "UTF-8";

/* content _ start */
.notice {
	position: relative;
	width: 80%;
	height: 40px;
	margin: 10px auto;
	border: 3px solid #b6e2f8;
	border-radius: 10px;
}

.notice:hover {
	cursor: pointer;
	background-color: #e9f8ff;
}

.notice>.noticeTitle {
	position: absolute;
	width: 100%;
	height: 20px;
	font-size: 18px;
	top: 50%;
	margin-top: -10px;
	margin-left: 20px;
}

.notice>.noticeDate {
	position: absolute;
	width: 98%;
	height: 20px;
	font-size: 17px;
	top: 50%;
	margin-top: -10px;
	margin-right: 0px;
	text-align: right;
}

/* content _ end */

/* btns _ start */
.pageBtns>div {
	/*width: 500px;*/
	height: 50px;
	margin: 50px auto;
}

.pageBtns>div>button {
	width: 45px;
	height: 45px;
	font-size: 17px;
	border: 2px solid #b6e2f8;
	outline: 0;
	border-radius: 5px;
	margin: 2px;
}

.pageBtns>div>button:hover {
	cursor: pointer;
	background-color: #e9f8ff;
}
/* btns _ end */