@charset "UTF-8";

.content {
	width: 75%; 
	height: 600px;
	margin: 30px auto;
}
.tbInfo {
	width: 550px;
	margin: 80px auto 30px auto;
}
.tbInfo input {
	border: 2px solid rgb(233, 233, 233);
}

.inputBox {
	font-size: 17px;
	line-height: 46px;
	background-color: white;
	width: 421px;
}
.inputboxS {
	font-size: 17px;
	line-height: 46px;
	background-color: white;
	width: 200px;
}

.inputEmail{
	font-size: 17px;
	line-height: 46px;
	background-color: white;
	width: 188px;
}
.tbInfo tr > td:first-child {
	text-align: center;
	width: 70px;
}

td {
	font-size: 17px;
}

td input, select {
	padding: 0px 15px;
}

.frontNum {
	font-size: 17px;
	height: 50px;
	width: 81px;
}

.domain {
	font-size: 16px;
	width: 197px;
	height: 50px;
}
.tdomain{
	font-size: 17px;
	height: 46px;
	width: 168px;
}
.inputNum {
	font-size: 17px;
	width: 137px;
	height: 46px;
	margin: 0;
}

.inputCheck {
	font-size: 17px;
	line-height: 46px;
	width: 278px;
	margin-right: 20px;
}

/*.tbInfo button {*/
	/*border: 2px solid rgb(182, 226, 248);*/
	/*background-color: rgb(182, 226, 248);*/
	/*color: black;*/
	/*height: 50px;*/
	/*cursor: pointer;*/
	/*outline: 0;*/
	/*font-size: 16px;*/
/*}*/

.divbtns button:hover {
	background-color: rgb(182, 226, 248);
	color: white;
}

.divbtns {
	width: 500px;
	margin: auto;
	text-align: center;
}

.divbtns button {
	border: 2px solid rgb(182, 226, 248);
	background-color: white;
	height: 50px;
	cursor: pointer;
	outline: 0;
	font-size: 16px;
	margin: 0px 20px;
	width: 116px;
}

