@charset "UTF-8";

/* content_start */
.addRoomForm > table {
    border: 1px solid #cccccc;
    width: 100%;
    margin: 20px auto;
    font-size: 17px;
}

table button {
    font-size: 15px;
    border: 1px solid #b6e2f8;
    outline: 0;
    border-radius: 10px;
    padding: 2px 13px;
    margin: 5px;
}

table button:hover {
    cursor: pointer;
    background-color: #e9f8ff;
}

table > tbody > tr > td.tbtitle {
    background-color: rgba(182, 226, 248, 0.5);
    text-align: center;
}

table > tbody > tr > td.tbSubtitle {
    width: 200px;
    text-align: center;
    border-right: 1px solid #cccccc;
}

table > tbody > tr > td.tdContent {
    width: calc(100% - 200px);
}

table > tbody > tr > td.tdHalf {
    width: 300px;
    border-right: 1px solid #cccccc;
}

table tr > td {
    height: 30px;
    border-bottom: 1px solid #cccccc;
}

table > tbody > tr > td:last-child {
    border-right: 0;
}

table tr:last-child > td {
    border-bottom: 0;
}

input[type=text] {
     height: 25px;
     font-size: 14px;
     border: 1px solid #b6e2f8;
     padding: 1px 15px;
     margin: 5px 10px;
 }
input[type=number] {
    height: 25px;
    font-size: 14px;
    border: 1px solid #b6e2f8;
    padding: 1px 15px;
    margin: 5px 10px;
}

#inputPeriodUnit {
    height: 30px;
    font-size: 14px;
    border: 1px solid #b6e2f8;
    padding: 1px 15px;
    margin: 5px 0px;
}

td > .hash {
    height: 30px;
    font-size: 14px;
    border: 1px solid #b6e2f8;
    padding: 1px 15px;
    margin-right: 32px;
}

.tag {
    margin-left: 10px;
}

#inputAddr {
    width: 680px;
    margin: 5px 0;
}

.fullTextbox {
    width: 780px;
    margin: 5px 0;
}

td > input:first-child {
    margin-left: 0;
}

textarea {
    width: 780px;
    height: 100px;
    font-size: 14px;
    border: 1px solid #b6e2f8;
    padding: 6px 15px;
    margin: 5px 10px 5px 0;
    resize: none;
}

.previmage, .addimage {
    width: 120px;
    height: 120px;
    margin: 20px;
    border: 2px solid #b6e2f8;
    border-radius: 13px;
    -moz-border-radius: 13px;
    -khtml-border-radius: 13px;
    -webkit-border-radius: 13px;
}

/*.addimage:hover, .previmage:hover, .deleteimage:hover {
	cursor: pointer;
}*/

.previmage:hover, .deleteimage:hover {
    cursor: pointer;
}

.deleteimage:hover {
    cursor: pointer;
    content: url("../img/etc/deleteimage_h.png");
}

.innerimage {
    width: 100%;
    height: 100%;
}

.deleteimage {
    position: absolute;
    width: 30px;
    height: 30px;
    margin: 7px 0 0 7px;
}

.lastBtns {
    text-align: center;
}

.lastBtn {
    font-size: 17px;
    border: 1px solid #b6e2f8;
    outline: 0;
    border-radius: 10px;
    padding: 5px 40px;
    margin: 30px 10px;
}

.lastBtn:hover {
    cursor: pointer;
    background-color: #e9f8ff;
}

.wrap > .addRoomForm .alignRight {
    text-align: right;
}

.upload {
    width: 124px;
    height: 124px;
    margin: 20px;
    border: 2px solid #b6e2f8;
    vertical-align: top;
}

.img {
    height: 90px;
}

.img-wrap {
    position: relative;
    display: inline-block;
}

.img-wrap .close {
    position: absolute;
    right: 5px;
    z-index: 1000;
    /*padding: 26px 23px;*/ /*사진 모서리*/
    padding: 5px 2px; /*사진 벗어난 모서리*/
    color: #000;
    font-weight: bold;
    cursor: pointer;
    opacity: .2;
    text-align: center;
    font-size: 22px;
    line-height: 10px;
    /*border-radius: 50%;*/
}

.img-wrap:hover .close {
    opacity: 1;
}

.inputAdminFee{
    text-align: right;
}
/* content_end */
