@charset "UTF-8";

.repWrap {
    width: 500px;
    height: 650px;
    background-color: white;
    margin: 0 auto;
}

.repWrap > div {
    width: calc(100% - 20px);
    margin: 10px;
}

.repWrap > div.divTitle {
    position: relative;
    background-color: #b6e2f8;
    width: 100%;
    height: 70px;
    margin: 0;
}

.repWrap > div.divTitle > div:first-child {
    width: 100%;
    height: 30px;
    margin: 0;
    text-align: right;
}

.repWrap > div.divTitle > .repTitle {
    text-align: center;
    width: 100%;
    font-size: 25px;
}

.caution {
    margin: 0 5%;
    width: 100%;
    height: 140px;
}

.item {
    margin: 0 5%;
    width: 100%;
    height: 130px;
}

.repContent {
    margin: 0 5%;
    width: 100%;
    height: 200px;
}

.submit {
    margin: 0 auto;
    width: 100%;
    height: 60px;
    text-align: center;
    vertical-align: middle;
}

.btnCancel {
    background-color: transparent;
    border-radius: 30px;
    margin-right: 3px;
    border: 0;
    outline: 0;
    font-size: 25px;
}

.btnCancel:hover {
    cursor: pointer;
}

.lbCaution {
    color: red;
    font-size: 20px;
}

.taContent {
    /* margin-right: 5px; */
    width: 98%;
    height: 180px;
    margin: 0 auto;
    font-size: 17px;
}


.btnSubmit {
    vertical-align: middle;
    border: 0;
    outline: 0;
    font-size: 20px;
}

.btnSubmit:hover {
    cursor: pointer;
}

.lbCaution {
    font-size: 20px;
}

.taCaution {
    width: 480px;
    font-size: 16px;
}

.lbItem {
    text-align: center;
}

.btnRadio {
    margin-left: 40px;
}