@charset "UTF-8";

body {
   margin: 0;
   padding: 0;
}

.writeTitle {
   position: relative;
   width: 100%;
   height: 70px;
}

.writeTitle>div {
   position: absolute;
   width : 100%;
   height: 36px;
   font-size: 30px;
   top: 50%;
   margin-top: -18px;
   text-align: center;
   width: 100%;
}

.wrap {
   margin: 50px auto;
   border-top: 1px solid #bfbfbf;
   border-bottom: 1px solid #bfbfbf;
   width: 1070px;
}

.content {
   margin: 30px 40px;
}

.tbWrite {
   width: 90%;
   margin: 50px auto;
}

.low {
   height: 60px;
}

.high {
   height: 100px;
}

.item {
   width: 200px;
   font-weight: 400;
   font-size: 17pt;
   color: rgb(38, 38, 38);
}

input[type=file]{
   display: none;
   cursor: pointer;
   font-size: 13pt;
}

input[type=text] {
   height: 40px;
   font-size: 16pt;
   border: 1px solid #bfbfbf;
}

.inputTitle, .inputDetail {
   width: 700px;
}

.inputAddr {
   width: 543px;
}

.inputPeriod {
   width: 120px;
   vertical-align: middle;
}

.selPeriod {
   height: 44px;
   font-size: 16pt;
   border: 1px solid #bfbfbf;
   width: 120px;
   vertical-align: middle;
}

/*.tbWrite button {*/
/*    margin-left: 20px;*/
/*    width: 130px;*/
/*    background-color: rgb(182, 226, 248);*/
/*    color: rgb(38, 38, 38);*/
/*    height: 44px;*/
/*    cursor: pointer;*/
/*    outline: 0;*/
/*    font-size: 13pt;*/
/* }*/

/*.tbWrite button:hover {*/
/*   color: white;*/
/*}*/

.btnAddr {
    margin-left: 20px;
    width: 130px;
    background-color: rgb(182, 226, 248);
    color: rgb(38, 38, 38);
    height: 44px;
    cursor: pointer;
    outline: 0;
    font-size: 13pt;
 }

.btnAddr:hover {
   color: white;
}

.upload {
   width: 124px;
   height: 124px;
   margin: 20px;
   border: 2px solid #b6e2f8;
   vertical-align: top;
   outline: 0;
}

.upload:hover {
   cursor: pointer;
   background-color: #e9f8ff;
}

#fileName{
   font-size: 20px;
   margin: 0px 10px;
}

.tdImg button{
    cursor: pointer;
    border-radius: 10px;
    padding: 2px 13px;
 }

.img {
   height: 90px;
}

textarea {
   padding: 0;
   width: 700px;
   height: 80px;
   font-size: 16pt;
   border: 1px solid #bfbfbf;
   resize: none;
   overflow-y: scroll;
}

input[type="radio"] {
   margin: 0;
   visibility: hidden;
}

.trProof label {
   display: inline-block;
   width: 170px;
   height: 70px;
   line-height: 70px;
   cursor: pointer;
}

.trProof label img {
   vertical-align: middle;
}

.trProof span {
   padding: 0 20px 0 10px;
   color: rgb(38, 38, 38);
   font-size: 13pt;
}

.trHashTag span {
   margin: 0 20px 0 20px;
   color: rgb(182, 226, 248);
   font-size: 16pt;
   font-weight: bold;
}

.hashTag {
   margin-right: 25px;
   width: 150px;
}

.btnSelFile {
   margin-left: 20px;
   width: 130px;
   background-color: rgb(182, 226, 248);
   color: rgb(38, 38, 38);
   height: 44px;
   cursor: pointer;
   outline: 0;
   font-size: 13pt;
}

.precautions {
   width: 250px;
   font-weight: 400;
   font-size: 17pt;
   color: #262626;
}

.pSub {
   color: rgb(136, 136, 136);
   font-size: 14px;
   margin: 7px 0px;
}

.divbtns button {
   border: 2px solid rgb(182, 226, 248);
   background-color: white;
   height: 50px;
   cursor: pointer;
   outline: 0;
   font-size: 16px;
   margin: 0px 20px;
   width: 116px;
}

.divbtns {
   width: 500px;
   margin: auto;
   text-align: center;
}

.divbtns button:hover {
   background-color: rgb(182, 226, 248);
   color: white;
}

.star-input>.input, .star-input>.input>label:hover, .star-input>.input>input:focus+label,
.star-input>.input>input:checked+label {
   display: inline-block;
   vertical-align: middle;
   background: url("../img/etc/star.png")no-repeat;
}

.star-input {
   display: inline-block;
   white-space: nowrap;
   width: 225px;
   height: 40px;
   padding: 25px;
   line-height: 30px;
}

.star-input>.input {
   display: inline-block;
   width: 150px;
   background-size: 150px;
   height: 28px;
   white-space: nowrap;
   overflow: hidden;
   position: relative;
}

.star-input>.input>input {
   position: absolute;
   width: 1px;
   height: 1px;
   opacity: 0;
}

.star-input>.input.focus {
   outline: 1px dotted #ddd;
}

.star-input>.input>label {
   width: 30px;
   height: 0;
   padding: 28px 0 0 0;
   overflow: hidden;
   float: left;
   cursor: pointer;
   position: absolute;
   top: 0;
   left: 0;
}

.star-input>.input>label:hover, .star-input>.input>input:focus+label,
.star-input>.input>input:checked+label {
   background-size: 150px;
   background-position: 0 bottom;
}

.star-input>.input>label:hover ~label{
   background-image: none;
}

.star-input>.input>label[for="p1"] {
   width: 30px;
   z-index: 5;
}

.star-input>.input>label[for="p2"] {
   width: 60px;
   z-index: 4;
}

.star-input>.input>label[for="p3"] {
   width: 90px;
   z-index: 3;
}

.star-input>.input>label[for="p4"] {
   width: 120px;
   z-index: 2;
}

.star-input>.input>label[for="p5"] {
   width: 150px;
   z-index: 1;
}

.star-input>output {
   display: inline-block;
   width: 60px;
   font-size: 18px;
   text-align: right;
   vertical-align: middle;
}

.star-input {
   padding: 25px 0px;
   margin: 0;
   color: black;
}

.img-wrap {
   position: relative;
   display: inline-block;
}

.img-wrap .close {
   position: absolute;
   right: 5px;
   z-index: 1000;
   /*padding: 26px 23px;*/ /*사진 모서리*/
   padding: 5px 2px; /*사진 벗어난 모서리*/
   color: #000;
   font-weight: bold;
   cursor: pointer;
   opacity: .2;
   text-align: center;
   font-size: 22px;
   line-height: 10px;
}

.img-wrap:hover .close {
   opacity: 1;
}

.addimage {
   width: 120px;
   height: 120px;
   margin: 20px;
   border: 2px solid #b6e2f8;
   border-radius: 13px;
   -moz-border-radius: 13px;
   -khtml-border-radius: 13px;
   -webkit-border-radius: 13px;
}