@charset "UTF-8";

.reviewTitle {
	position: relative;
	width: 100%;
	height: 70px;
}

.reviewTitle>div {
	position: absolute;
	width : 100%;
	height: 36px;
	font-size: 30px;
	top: 50%;
	margin-top: -18px;
	text-align: center;
	width: 100%;
}

.divOption1 {
	margin: 25px auto;
	width: 1070px;
}

.totalCnt {
	font-size: 14px;
	text-align: left;
}

.totalCntColor {
	font-size: 14px;
	text-align: left;
	font-weight: bold;
	color: rgb(146, 189, 223);
}

.filter {
	float: right;
	border: 0;
	outline: 0;
}

.filter:hover {
	cursor: pointer;
}

.divOption2 {
	margin: 15px auto;
	width: 1070px;
}

.selAlign {
	font-size: 20px;
	height: 35px;
}

.addReview {
	float: right;
	width: 140px;
	height: 45px;
	border: 0;
	outline: 0;
	font-size: 20px;
	border: 2px solid rgb(182, 226, 248);
}

.divOption2>.addReview:hover {
	cursor: pointer;
	background-color: rgb(182, 226, 248);
}

.element{
	margin: 25px auto;
	border: 1px solid #bfbfbf;
	width: 1070px;
}

.topText {
	margin: 25px 30px;
	font-size: 20px;
	color: #808080;
}

.title {
	margin: 25px 30px;
	font-size: 20px;
}

.location {
	margin: 25px 30px;
	font-size: 17px;
	color: #404040;
}

.content {
	margin: 25px 30px;
	display: flex;
}

.picture {
	width: 400px;
	margin-top: 20px;
	padding-right: 40px;
}

.hashtag {
	margin-top: 20px;
	color: #93CBF1;
	font-size: 17pt;
}

.hashtag>span {
	padding-right: 20px;
}

.content>.text {
	margin-top: 5px;
	padding-left: 40px;
	width: 500px;
	border-left: 1px solid #bfbfbf;
}

.textTitle {
	height: 40px;
	padding-top: 20px;
	padding-bottom: 5px; font-size : 20pt;
	font-weight: 500;
	font-size: 20pt
}

.overall{
	height: 70px;
}

.overall>span {
	float: left;
}

.rank {
	padding-top: 10px;
	margin-left: 20px;
	float: left;
}

.level>span {
	float: left;
}

.review_text {
	display: inline-block;
}

.insect, .noise {
	padding-top: 15px;
	margin: 0 50px 0 20px;
	float: left;
	width: 50px;
	height: 50px;
}

.pageBtns>div {
	width: 500px;
	height: 50px;
	margin: 50px auto;
}

.pageBtns>div>button {
	width: 45px;
	height: 45px;
	font-size: 17px;
	border: 2px solid #b6e2f8;
	outline: 0;
	border-radius: 5px;
	margin: 2px;
}

.pageBtns>div>button:hover {
	cursor: pointer;
	background-color: #e9f8ff;
}

.textTitle{
	font-weight: bold;
}