@charset "UTF-8";

.wrap {
    margin: 20px auto 0 auto;
    width: 1070px;
    height: auto;
    border: 1px solid #BFBFBF;
}

.wrap > .topText {
    margin: 50px 193px 0 193px;
    font-size: 20px;
    color: #7F7F7F;
}

.wrap > .title {
    margin: 10px 190px;
    font-size: 22px;
}

.wrap > .location {
    margin: 10px 190px 0 190px;
    font-size: 19px;
    color: #404040;
}

.wrap .hashTag {
    float: right;
    padding-left: 15px;
    color: #5CC3F6;
    outline: 0;
    border: 0;
    font-size: 16pt;
    font-weight: 500;
}

.wrap > .detailTitle {
    margin: 50px 185px 0 185px;
    font-size: 25px;
    font-weight: bold;
}

.wrap > .detailContent {
    margin: 20px 185px;
    font-size: 17px;
}

.wrap > div > h1 {
    width: 100%;
    height: 50px;
    margin-top: 120px;
    margin-bottom: 50px;
    text-align: center;
    font-size: 25px;
}

.wrap .detailTb {
    margin: 0 auto;
    width: 95%;
    height: 100px;
    border: 1px solid #9d9d9d;
    font-size: 18px;
    border-collapse: collapse;
}

.wrap .detailTb td {
    text-align: center;
    border: 1px solid #9d9d9d;
}

.wrap .detailTb td:nth-child(1), .wrap .detailTb td:nth-child(3) {
    color: #666666;
}

.wrap .priceTb {
    margin: 0 auto;
    width: 95%;
    border: 1px solid #9d9d9d;
    text-align: center;
    font-size: 18px;
    border-collapse: collapse;
}

.wrap .priceTb td {
    border: 1px solid #9d9d9d;
}

.wrap .optionTb {
    margin: 0 auto;
    border: 1px solid #9d9d9d;
    font-size: 18px;
	width: 95%;
    border-collapse: collapse;
}

.wrap .optionTb td {
    border: 1px solid #9d9d9d;
    width: 20%;
    text-align: center;
}

.wrap .detailLocation {
    margin-bottom: 30px;
    text-align: center;
    font-size: 18px;
}

.wrap .which {
    margin-top: 150px;
    text-align: center;
}

.wrap .mapWrap {
    text-align: center;
}

.wrap .mapWrap {
    position: relative;
    margin: 100px auto;
    width: 60%;
    height: 100%;
}

.wrap .mapWrap .map {
    width: 500px;
    height: 400px;
    z-index: 1;
    border: 1px solid #555555;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 1070px;
    z-index: 10;
    background-color: #b6e2f8;
}

.footer > .footerContent {
    width: calc(50% - 220px);
    float: right;
    margin-top: 3px;
}

.footer button {
    border: 0;
    outline: 0;
	background-color: transparent;
}

.footer button:hover {
    cursor: pointer;
}

.footer > .f_button {
    margin-left: 180px;
    width: calc(50% - 180px);
    float: left;
}

.footer > .f_button button:hover {
    box-shadow: 0 0 11px rgba(33, 33, 33, .2);
}

.footer > .f_button > button {
    margin: 10px 30px 0 0;
    border-radius: 10px;
    height: 42px;
    font-size: 20px;
    background-color: white;
}

.footerContent button {
    margin-left: 15px;
    width: 55px;
    height: 55px;
}

#heartImg:hover {
    content: url("/resources/img/etc/heartHover.png");
}

#reportImg:hover {
    content: url("/resources/img/etc/reportClick.png");
}

/**=============== box-slider ==============**/
.bx-wrapper {
    -moz-box-shadow: 0 0 0 #ccc;
    -webkit-box-shadow: 0 0 0 #ccc;
    box-shadow: 0 0 0px #ccc;
}

.bx-wrapper .bx-controls-direction a {
    z-index: 900;
}