@charset "UTF-8";

/* subtitle_start */
.wrap {
	width: 1070px;
	/*height: 1300px;*/
	margin: 0 auto;
}

.accountTitle {
	position: relative;
	width: 100%;
	height: 70px;
}

.accountTitle>div {
	position: absolute;
	width: 100%;
	height: 36px;
	font-size: 30px;
	top: 50%;
	margin-top: -18px;
	text-align: center;
}

.accountMenu {
	position: relative;
	width: 80%;
	height: 70px;
	margin: 0 auto;
}

.accountMenu>div {
	width: 100%;
	height: 100%;
	margin: 0 auto;
}

.accountMenu  ul {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

.accountMenu  ul::before, .accountMenu  ul::after {
	display: block;
	content: '';
	clear: both;
}

.accountMenu  ul>li {
	position: relative;
	display: block;
	float: left;
	width: 20%;
	height: 40px;
	top: 50%;
	margin-top: -23px;
}

.subtitle {
	text-align: center;
}

.subtitle>button {
	font-size: 20px;
	background-color: inherit;
	border: none;
	text-align: center;
	padding: 0;
	width: 100%;
	height: 100%;
	outline: 0;
}

.subtitle>button:hover {
	cursor: pointer;
	background-color: #e9f8ff;
}
/* subtitle_end */
