@charset "UTF-8";

/* subtitle_start */
.wrap {
	width: 1070px;
	margin: 0 auto;
}

.csgirl {
	width: 112px;
	height: 127px;
	margin: 30px auto 0 auto;
}

.csTitle {
	position: relative;
	width: 100%;
	height: 70px;
}

.csTitle>div {
	position: absolute;
	width: 100%;
	height: 36px;
	font-size: 30px;
	top: 50%;
	margin-top: -18px;
	text-align: center;
}

.csMenu {
	position: relative;
	width: 100%;
	height: 70px;
}

.csMenu>div {
	width: 80%;
	height: 100%;
	margin: 0 auto;
}

.csMenu  ul {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

.csMenu  ul::before, .csMenu  ul::after {
	display: block;
	content: '';
	clear: both;
}

.csMenu  ul>li {
	position: relative;
	display: block;
	float: left;
	width: 25%;
	height: 40px;
	top: 50%;
	margin-top: -23px;
}

.subtitle {
	text-align: center;
}

.subtitle>button {
	font-size: 20px;
	background-color: inherit;
	border: none;
	text-align: center;
	padding: 0;
	width: 100%;
	height: 100%;
	outline: 0;
}

.subtitle>button:hover {
	cursor: pointer;
	background-color: #e9f8ff;
}
/* subtitle_end */