@charset "UTF-8";

body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	overflow-y: hidden;
}

.divWrap {
	margin: 0 auto;
    width: 500px;
    height: 800px;
}

.divTop {
	height: 90px;
	line-height: 90px;
	background-color: rgb(182, 226, 248);
}

.nickName {
	padding-left: 60px;
	width: 360px;
	font-size: 19pt;
	text-align: center;
	color: rgb(77, 77, 77);
}

.btnBack {
	margin-top:20px;
	margin-left:20px;
	padding: 0;
	float: left;
	width: 55px;
	height: 55px;
}

.btnClose {
	margin-top:20px;
	margin-right:20px;
	padding: 0;
	float: right;
	width: 55px;
	height: 55px;
}

.divWrap button {
	border: 0;
	outline: 0;
	background-color: transparent;
}

.divWrap button:hover {
	cursor: pointer;
	border-radius: 50%;
	box-shadow: 0px 0px 20px lightskyblue;
}

.divMid {
	background-color: white;
	margin: 0 auto;
	padding: 0;
	border-bottom: 1px solid lightgray;
	width: 500px;
	height: 600px;
	overflow: auto;
	overflow-x: hidden;
}

.date {
	padding-left: 200px;
	width: 110px;
	height: 30px;
	line-height: 30px;
	font-size: 13pt;
	text-align: center;
	color: gray;
}
.myTail {
	height: 50px;
}

.profile {
	margin: 0 auto;
	width: 100px
}

.profile > img {
	margin: 0 15px;
}

.divBottom {
	margin: 0 auto;
	padding: 0;
	width: 500px;
	height: 70px;
	background-color: rgb(182, 226, 248);
}

.divBottom input[type=text] {
	margin-top: 10px;
	margin-left: 10px;
	border: 0;
	width: 358px;
	height: 43px;
	font-size: 14pt;
}

.divWrap .btnOption {
	margin-top: 10px;
	margin-left:10px;
	padding: 0;
	float: left;
	width: 43px;
	height: 45px;
}

.dialog{
    display: inline-block;
	max-width: 300px;
	max-height: 500px;
	border-radius: 10px;
	background-color: rgb(224, 224, 224);
	font-size: 14pt;
	left: auto;
	right: auto;
	width: auto;
	padding: 15px;
	position: relative;
}
.dialog:after {
    content: '';
    position: absolute;
    border-top: 10px solid rgb(224, 224, 224);
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    bottom: -9px;
    left: 5px;
}
.myDialog {
    display: inline-block;
	max-width: 300px;
	max-height: 500px;
	border-radius: 10px;
	background-color: rgb(182, 226, 248);
	font-size: 14pt;
	left: auto;
	right: auto;
	width: auto;
	padding: 15px;
	position: relative;
	margin: 0 5px 0 0;
}
.myDialog:after{
	content: '';
    position: absolute;
    border-top: 10px solid rgb(182, 226, 248);
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    bottom: -9px;
}

.divWrap td img{
	margin: 35px 0 0 0;
}
.time{
	font-size: 12px;
	color: rgb(128,128,128);
}
.message{
	margin: 10px 0px;
}
.tvDiagContent{
	width: 485px;
}
/* .me > td > .message > div{
	text-align: left;
} */
.divWrap .btnSubmit {
	margin-top:10px;
	margin-right:10px;
	padding: 0;
	float: right;
	width: 67px;
	height: 45px;
}
.divOption{
	width: 500px;
	background-color: rgb(182, 226, 248);
	/* display: none; */
}