@charset "UTF-8";

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}

.divWrap {
    /* width: 500px; */
    height: 800px;
}
@media (max-width: 400px) {
    .divWrap {
        width: 400px;
    }
}

.divTop {
    height: 90px;
    line-height: 90px;
    background-color: rgb(182, 226, 248);
}

.lbTitle {
    margin-left: 30px;
    height: 50px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 25pt;
}

.btnClose {
    margin-top: 20px;
    margin-right: 20px;
    padding: 0;
    float: right;
    width: 55px;
    height: 55px;
}

.divMid {
    margin: 0 auto;
    padding: 0;
    /* width: 500px; */
    height: 670px;
    overflow: auto;
    overflow-x: hidden;
}

.divRoom {
    border-bottom: 1px solid lightgray;
}

.divRoom::before, .divRoom::after {
    content: '';
    display: block;
    clear: both;
}

.divRoom > table {
    margin: 0;
    padding-top: 15px;
    width: 100%;
    padding-bottom: 15px;
    height: 100px;
}

.divRoom:hover {
    cursor: pointer;
    box-shadow: 0px 0px 10px lightgray;
}

.profile {
    margin: 0 auto;
    width: 100px
}

.profile > img {
    margin: 0 15px;
}

.nickName {
    padding-left: 10px;
    /*width: 345px;*/
    font-size: 16pt;
    text-align: left;
}

.content {
    padding-left: 10px;
    /*width: 400px;*/
    font-size: 14pt;
    text-align: left;
}

.date {
    padding-left: 10px;
    /*width: 400px;*/
    font-size: 13pt;
    text-align: left;
    color: gray;
}

button {
    border: 0;
    outline: 0;
    background-color: transparent;
}

button:hover {
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0px 0px 20px lightskyblue;
}

.noContent {
    height: 670px;
    line-height: 600px;
    font-size: 16pt;
    font-weight: 600;
    text-align: center;
    color: #5CC3F6;
}

.exitChatRoom {
    margin: 0;
    padding: 0;
    width: 100px;
    font-size: 15pt;
    background-color: lightskyblue;
    display: none;
    color: #FFFFFF;
}

.exitChatRoom:hover {
    border-radius: 5%;

}