@charset "UTF-8";

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: rgb(182, 226, 248);
}

.divWrap {
    margin: 0 auto;
    width: 100%;
    /*height: 800px;*/
}
@media (max-width: 400px) {
    .divWrap {
        width: 400px;
    }
}

.divTop {
    height: 90px;
    line-height: 90px;
    background-color: rgb(182, 226, 248);
    text-align: center;
}

.nickName {
    display: inline-block;
    /*width: 340px;*/
    font-size: 19pt;
    text-align: center;
    color: rgb(77, 77, 77);
}

.btnBack {
    margin-top: 20px;
    margin-left: 20px;
    padding: 0;
    float: left;
    width: 55px;
    height: 55px;
}

.btnClose {
    margin-top: 20px;
    margin-right: 20px;
    padding: 0;
    float: right;
    width: 55px;
    height: 55px;
}

.divWrap button {
    border: 0;
    outline: 0;
    background-color: transparent;
}

.divWrap button:hover {
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0px 0px 20px lightskyblue;
}

.divMid {
    background-color: white;
    margin: 0 auto;
    padding: 0;
    border-bottom: 1px solid lightgray;
    /* width: 500px; */
    width: 100%;
    height: 600px;
    overflow: auto;
    overflow-x: hidden;
}

.date {
    margin-top: 15px;
    width: 100%;
    height: 30px;
    line-height: 30px;
    font-size: 13pt;
    text-align: center;
    color: gray;
}

.divDate::before, .divMessage::after {
    content: '';
    display: block;
    clear: both;
}

.time {
    font-size: 12px;
    color: rgb(128, 128, 128);
}

.divMe {
    margin: 0;
    float: right;
}

.divYou {
    margin: 0;
    float: left;
}

.divMessage {
    margin: 15px 20px;
    position: relative;
}

.divMessage::before, .divMessage::after {
    content: '';
    display: block;
    clear: both;
}

.myMessage {
    display: inline-block;
    margin-right: 5px;
    max-width: 300px;
    max-height: 500px;
    border-radius: 10px;
    background-color: rgb(182, 226, 248);
    font-size: 14pt;
    left: auto;
    right: auto;
    width: auto;
    padding: 15px;
    position: relative;
}

.myMessage::after {
    content: '';
    position: absolute;
    border-top: 10px solid rgb(182, 226, 248);
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    bottom: -9px;
    right: 10px;
}

.yourMessage {
    display: inline-block;
    margin-left: 5px;
    max-width: 300px;
    max-height: 500px;
    border-radius: 10px;
    background-color: rgb(224, 224, 224);
    font-size: 14pt;
    left: auto;
    right: auto;
    width: auto;
    padding: 15px;
    position: relative;
}

.yourMessage::after {
    content: '';
    position: absolute;
    border-top: 10px solid rgb(224, 224, 224);
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    bottom: -9px;
    left: 10px;
}

.divBottom {
    margin: 0 auto;
    padding: 0;
    /* width: 500px; */
    width: 100%;
    text-align: center;
    height: 70px;
    background-color: rgb(182, 226, 248);
}

.divBottom input[type=text] {
    margin-top: 10px;
    margin-left: 10px;
    border: 0;
    width: calc(100% - 142px);
    height: 43px;
    font-size: 14pt;
}

.myMessage>img, .yourMessage>img {
    width: 200px;
    max-height: 400px;
}

.divWrap .btnOption {
    margin-top: 10px;
    margin-left: 10px;
    padding: 0;
    float: left;
    width: 43px;
    height: 45px;
}

.divWrap .btnSubmit {
    margin-top: 10px;
    margin-right: 10px;
    padding: 0;
    float: right;
    width: 67px;
    height: 45px;
}

.divOption {
    width: 100%;
    background-color: rgb(182, 226, 248);
}

[data-tooltip-text]:hover {
    position: relative;
}

[data-tooltip-text]:after {
    -webkit-transition: bottom .3s ease-in-out, opacity .3s ease-in-out;
    -moz-transition: bottom .3s ease-in-out, opacity .3s ease-in-out;
    transition: bottom .3s ease-in-out, opacity .3s ease-in-out;
    background-color: rgba(0, 0, 0, 0.8);
    -webkit-box-shadow: 0px 0px 3px 1px rgba(50, 50, 50, 0.4);
    -moz-box-shadow: 0px 0px 3px 1px rgba(50, 50, 50, 0.4);
    box-shadow: 0px 0px 3px 1px rgba(50, 50, 50, 0.4);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #FFFFFF;
    font-size: 12px;
    margin-bottom: 10px;
    padding: 7px 12px;
    position: absolute;
    width: auto;
    min-width: 60px;
    max-width: 300px;
    word-wrap: break-word;
    z-index: 9999;
    opacity: 0;
    left: -9999px;
    top: 0%;
    content: attr(data-tooltip-text);
}

[data-tooltip-text]:hover:after {
    top: 10%;
    left: 0;
    opacity: 1;
}
