@charset "UTF-8";

.btn {
	margin: 10px 50px;
	border: 0;
	outline: 0;
	background-color: transparent;
	font-size: 20px;
}

.btn:hover {
	text-decoration: underline;
	color: #b6e2f8;
}

.divContent {
	resize: none;
	overflow-y: scroll;
	/*width: calc(100% - 74px);*/
	width: 85%;
	height: 500px;
	background-color: white;
	border: 2px solid #b6e2f8;
	font-size: 17px;
	padding: 0px 15px;
	margin: 20px auto;
	border-radius: 10px;
	outline: 0;
}

.emphasis {
	font-weight: bold;
}