@charset "UTF-8";

body {
	margin: 0;
	padding: 0;
}

div.topbar {
	background-color: #b6e2f8;
	width: 100%;
	height: 75px;
}

.topbar>ul {
	margin: 0;
	padding: 0;
	height: 100%;
}

.topbar>ul::before, .topbar>ul::after {
	display: block;
	content: '';
	clear: both;
}

.topbar>ul>li {
	position: relative;
	display: block;
	float: right;
	text-align: center;
}

.topbar>ul>li:nth-child(1), .topbar>ul>li:nth-child(2) {
	padding: calc(calc(75px - 25px)/2) 15px;
}

.topbar>ul>li:nth-child(3) {
	width: 2px;
	height: 70%;
	background-color: #666666;
	margin: calc(calc(75px - 52px)/2) 20px;
}

.topbar>ul>li:nth-child(4), .topbar>ul>li:nth-child(5) {
	padding: calc(calc(75px - 50px)/2) 20px;
}

.topbar>ul>li:nth-child(6) {
	padding-top: calc(5px/ 2);
}

.text {
	font-size: 18px;
	color: #333333;
	text-decoration: none;
}

.topbar>ul>li:last-child {
	height: 100%;
	float: left;
}

@media ( max-width :750px) {
	div.topbar {
		width: 750px;
	}
}

.topbar > ul > li > button {
	border: 0;
	background-color: transparent;
	outline: 0;
	height: 45px;
}

button {
	background-color: transparent;
	height: 45px;
}

.topbar > ul > li > button:last-child {
	height: 100%;
}

.topbar > ul > li > button:hover {
	cursor: pointer;
}

.menuPopup {
	position: fixed;
	top:0px;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: rgba(0, 0, 0, 0.8);
	z-index: 1000;
}

.menuPopup > .menus {
	margin: 0 auto;
	width: 1070px;
}

.menuPopup > div > ul > li {
	list-style: none;
	position: relative;
	display: block;
	float: left;
    width: 200px;
}

.menuPopup > div > ul > li > button {
	border: 0;
	outline: 0;
	width: 200px;
	height: 200px;
	background-color: transparent;
}

.menuPopup > div > ul > li > button:hover {
	cursor: pointer;
	border-radius: 50%;
	box-shadow: 0px 0px 20px white;
}

.loginPopup {
	width: 500px;
	padding: 0;
	margin: 0 auto;
	border: 1px solid black;
	background-color: #f4f4ff;
}

.loginPopup > .divClose {
	width: 100%;
	height: 50px;
	text-align: right;
}
.loginPopup > .divClose > button {
	background-color: transparent;
	border: 0;
	outline: 0;
	margin: 15px;
	font-size: 25px;
}

.loginPopup > .logo {
	width: 100%;
	height: 100px;
	text-align: center;
}

.loginPopup .divInput {
	width: 60%;
	text-align: center;
	margin: 0 auto;
}

.loginPopup .divInput > input {
	display: block;
	font-size: 20px;
	padding: 10px;
	width: calc(100% - 20px);
	margin: 20px 0;
	text-align: center;
}

.loginPopup .hintForm {
	margin: 30px 0px;
	text-align: center;
}

.loginPopup .hintForm > .hint {
	color: #55aadd;
	font-size: 15px;
	text-decoration: none;
}

.loginPopup .btns {
	margin: 30px 0px;
	text-align: center;
}

.loginPopup .btns > .btn {
	display: block;
	width: 60%;
	margin: 20px auto;
	text-align: center;
	background-color: #b6e2f8;
	font-size: 15px;
	border: 2px solid #b6e2f8;
	outline: 0;
	border-radius: 10px;
	padding: 5px 20px;
}

.loginPopup .btns > .btn:hover {
	cursor: pointer;
	background-color: #e9f8ff;
}


.joinPopup {
	width: 700px;
	padding: 0;
	margin: 0 auto;
	border: 1px solid black;
	background-color: #f4f4ff;
}

.joinPopup > .divClose {
	width: 100%;
	height: 50px;
	text-align: right;
}
.joinPopup > .divClose > button {
	background-color: transparent;
	border: 0;
	outline: 0;
	margin: 15px;
	font-size: 25px;
}

.joinPopup > .logo {
	width: 100%;
	height: 70px;
	text-align: center;
}

.joinPopup > h1 {
	margin: 10px 0;
}

.joinPopup .btns {
	marign: 30px 0px;
	text-align: center;
}
.joinPopup .btn {
	margin: 10px 0px 10px 20px;
	text-align: center;
	background-color: #b6e2f8;
	font-size: 17px;
	border: 2px solid #b6e2f8;
	outline: 0;
	border-radius: 10px;
	padding: 10px 40px;
}

.joinPopup .btn:hover {
	cursor: pointer;
	background-color: #e9f8ff;
}
.joinPopup .btns > .btn {
	margin: 30px 20px;
	padding: 10px 50px;
}

.joinPopup .tbInfo {
	width: 550px;
	margin: auto;
}

.joinPopup .inputbox {
	font-size: 17px;
	line-height: 46px;
	background-color: white;
	width: 421px;
}

.joinPopup .inputboxS {
	font-size: 17px;
	line-height: 46px;
	background-color: white;
	width: 240px;
}

.joinPopup .at {
	font-size: 25px;
}

.joinPopup .domain {
	font-size: 16px;
	width: 150px;
	height: 50px;
}
.joinPopup .tdomain {
	font-size: 16px;
	width: 130px;
	height: 40px;
	padding: 5px 10px;
}


.joinPopup .tbInfo td {
	width: 80px;
	font-size: 17px;
}
.joinPopup .tbInfo td >input{
	padding: 0px 15px;
}


.joinPopup .frontNum {
	font-size: 17px;
	height: 50px;
	width: 80px;
}

.joinPopup .inputNum {
	font-size: 17px;
	width: 137px;
	height: 46px;
	margin: 0;
}
