<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.murmuler.organicstack.mybatis.ContractMapper">

    <insert id="insertContract" parameterType="com.murmuler.organicstack.vo.ContractVO" useGeneratedKeys="true" keyProperty="id">
      INSERT INTO contract_tb (room_id, contract_form, deposit, monthly_cost, stay_from, stay_to)
      VALUES (${roomId}, #{contractForm}, ${deposit}, ${monthlyCost}, #{stayFrom}, #{stayTo});
    </insert>

    <insert id="insertContractList" parameterType="hashmap">
    INSERT into contract_list_tb (member_id, contract_id) VALUES
       <foreach collection="memberList" item="member" separator=",">
           (#{member}, #{contractId})
       </foreach>
    </insert>

    <select id="selectMyContracts" resultType="com.murmuler.organicstack.vo.ContractVO">
        SELECT contract_id AS id, room_id AS roomId, contract_form AS contractForm,
            contract_date AS contractDate, deposit, monthly_cost AS monthlyCost,
            stay_from AS stayFrom, stay_to AS stayTo
        FROM contract_list_tb
        JOIN contract_tb USING(contract_id)
        WHERE member_id = #{memberId}
    </select>

    <select id="selectAddressByRoomId" resultType="string">
        SELECT CONCAT(sido,' ',sigungu,' ',roadname,' ',road_jibun,' ', detail_addr) AS address
        FROM location_tb JOIN room_tb USING(location_id) WHERE room_id = #{roomId}
    </select>

    <select id="selectRentTypeByRoomId" resultType="string">
        SELECT rent_name AS rentType FROM rent_type_tb
        JOIN sale_tb USING(rent_id) WHERE room_id = #{roomId}
    </select>
    <select id="selectContractImageById" resultType="string">
        SELECT contract_form FROM contract_tb WHERE contract_id = #{contractId}
    </select>
</mapper>