<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.murmuler.organicstack.mybatis.ReportMapper">

    <resultMap id="report_type_map" type="hashmap">
        <id property="id" column="report_type_id" jdbcType="INTEGER"/>
        <result property="content" column="report_type_name" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="selectReportType"  resultMap="report_type_map">
        SELECT * FROM report_type_tb
    </select>

    <insert id="insertReport" parameterType="hashmap">
        INSERT INTO report_tb (room_id, report_type_id, additional_explain, process_id) VALUES(#{roomId}, #{reportTypeId}, #{content}, 1)
    </insert>

    <select id="selectAllReports" resultType="com.murmuler.organicstack.vo.ReportViewVO">
        SELECT report_id AS id, room_id AS roomId, report_type_id AS reportType, additional_explain AS content, process_name AS processStatus
        FROM report_tb JOIN process_status_tb USING(process_id)
    </select>

    <delete id="deleteMultiReport" parameterType="hashmap">
        DELETE FROM report_tb
        WHERE report_id in (
        <foreach collection="ids" item="id" separator=",">#{id}</foreach>
        )
    </delete>

    <update id="updateProcessStatus" parameterType="hashmap">
        UPDATE report_tb SET process_id=${processId}
        WHERE report_id=${id}
    </update>

</mapper>
