@charset "UTF-8";
body {
    margin: 0;
    padding: 0;
}
div.wrap {
    width: 100%;
}
.wrap > div {
    text-align: center;
}
.wrap > .div-logo {
    padding-top: 40%;
}
.wrap > .div-logo > .logo {
    width : 50%;
}
.wrap > .div-search {
    position: relative;
    padding: 30px 10px;
}
.wrap > .div-search  .input-search {
    padding: 10px 10px;
    width: 100%;
    border-radius: 7px;
    border: 2px solid #b6e3f9;
    font-size: 15px;
}
.wrap > .div-search  .input-search:focus {
    outline: 0;
}
.wrap > .div-search  .btn-search {
    position: absolute;
    background-color: inherit;
    outline: 0;
    border: 0;
    margin: 0;
    padding: 0;
    cursor: pointer;
    top: calc(30px + 2%);
    right: 20px;
}
.wrap > .div-search  .btn-search > img {
    width: 35px;
}
.wrap > .div-search  .btn-search > img:hover {
    content: url("/resources/img/mobile/btn_search_hover.png");
}
